@import '~bootstrap/scss/bootstrap';
@import './style_variables';

// commented out for testing

body {
  display: grid;
  min-height: 100vh;
}

.box {
  align-items: center;
  background-color: $squares;
  border-bottom: 5px solid $white;
  border-right: 5px soild $white;
  color: $white;
  display: flex;
  justify-content: center;
  min-height: calc(100% / 3);

  :nth-child(3n) {
    border-right: 0;
  }

  :nth-last-child(-1n + 3) {
    border-bottom: 0;
  }
}

.game-board {
  margin: 0 auto;
  max-height: calc(100vh - 75px);
  max-width: calc(100vh - 75px);
}


.sign-in {
  display: show;
}

.success {
  background-color: green;
  color: $white;
  font-size: 2em;
}

.failure {
  background-color: red;
  color: $white;
  font-size: 2em;
}

.after-auth {
  display: none;
}

#playerIcon {
  background-color: $player-one;
}
