@import '~bootstrap/scss/bootstrap';
@import './style_variables';

body {
  display: grid;
  min-height: 100vh;
}

.game-board {
  margin: 0 auto;
  max-height: calc(100vh - 75px);
  max-width: calc(100vh - 75px);
}

.box {
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  display: flex;
  min-height: calc(100% / 3);
  align-items: center;
  justify-content: center;
  background-color: $squares;
  color: white;
  text-shadow: 2px 2px rgba(0, 0, 0, .25);
  font-size: 12vh;
}

.box:nth-child(3n) {
  border-right: 0;
}

.box:nth-last-child(-1n + 3) {
  border-bottom: 0;
}

.sign-in {
  display: show;
}

.success {
  background-color: green;
  color: $white;
  font-size: 2em;
}

.failure {
  background-color: red;
  color: $white;
  font-size: 2em;
}

.after-auth {
  display: none;
}

.before-newgame {
  display: none;
}

.after-newgame {
  display: none;
}

.after-game {
  display: none;
}

#playerIcon {
  background-color: $player-one;
}
